.centered {
    text-align: center;
}

.nodecontent {
    display: inline-block;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: large;
}

.nodecontent:hover {
    background-color: MediumSeaGreen;
}

.nodecontent .collapse {
    position: absolute;
    bottom: -15px;
    left: calc(50% - 6px);
    color: #EEEEEE;
    background-color: #CCCCCC;
    border-radius: 6px;
    height: 12px;
    width: 12px;
    font-size: 12px;
    text-align: center;
}

.orgchart{
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
    
}
.orgchart li.root{
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
}